[2017-03-06 17:37] linsalrob opened #1 "Check the exit status using os.WIFEXITED()"
You should check the exit status of external programs (e.g. rapsearch, diamond, etc) using [os.WIFEXITED](https://docs.python.org/3/library/os.html#os.WIFEXITED)() and [os.WEXITSTATUS](https://docs.python.org/3/library/os.html#os.WEXITSTATUS)(). If the program terminated abnormally you should not continue.

[2017-03-16 12:19] zkstewart opened #2 "Plotting code underscores"
Hi,

I ran into an issue when trying to run the R scripts. At the data processing stage, the script looks for files with a pattern that differs to the output SUPER-FOCUS provided me. On this line

`list.files(opt$sf_dir, pattern="_____results__all_levels_and_function.xls")[[1]]`

there appears to be too many underscores at the front, as the output files only have two underscores after the project

[2017-05-30 05:11] bioinformatics-deakin opened #3 "Blast error"
I am getting this blast error. I used superfocus__downloadDB.py blast, first then:

superfocus.py -q rare/ -dir 60.4superfocus -t 36 -a blast

1) Aligning sequences in rare//033.fastq against DB_98 using blast
Error: NCBI C++ Exception:
    T0 "/home/coremake/release_build/build/PrepareRelease_Linux64-Centos_JSID_01_350334_130.14.22.10_9008__PrepareRelease_Linux64-Centos_1481139955/c++/compilers/u

[2017-05-30 05:18] ghost commented on #3
I think perhaps you can't use fastq input with blast... a note is required in the guide which at the moment says you can use fastq or fasta.

[2017-06-18 14:30] metageni commented on #3
Yeah. Sorry I just saw your comment now. I have to turn on my git notification. I will edit the README

[2017-06-29 18:41] blancaverag opened #5 "Database not found"
I am having some issues trying to run SUPER-FOCUS.
I get this error when running it, despite having the databases:

python superfocus.py -q prot.faa -dir superfocus_smo/ -o smo -ml 50 -p 1 -a diamond -fast 1
SUPER-FOCUS: A tool for agile functional analysis of shotgun metagenomic data
     -diamond DB_98 database was not found. Please first run python superfocus__downloadDB.py diamond or choose a

[2017-06-30 08:06] blancaverag commented on #5
It seems to be working with rapsearch. Do I need to set something related to the database differently so I can use diamond?

[2017-08-29 19:27] ehj000 opened #6 "R duplicated levels"
Hi,
First of all thanks for a very nice tool.

I am not able to run superfocus_plots.sh on the sample files that are provided with the tool. It seems to be issues with the duplicated levels in factors in R:

[2017-08-29 21:08:57]    *****Starting plotting scripts!*****
[2017-08-29 21:08:57]    Note: verbose flag was not set.
Error in `levels<-`(`*tmp*`, value = if (nl == nL) as.character(labels) e

[2018-02-20 02:54] bioinformatics-deakin opened #7 "Slow DB download"
Only getting about 25 - 100 kB/s from edwards.sdsu.edu/superfocus/downloads/db.zip from Australia.
Are there any mirror sites available?
Thanks,

Theo

[2018-02-20 03:45] ghost commented on #7
I should add that the download is also very intermittent.. 15 secs no transfer then sharktooth peak for 10 secs. Otherwise my connection is ok so I assume its the server? Thanks.

[2018-05-28 14:38] metageni commented on #7
Hi there, I hope you were able to download the database. At this point we don't plan to have a mirror of the database.

[2018-05-28 14:39] #7 closed

[2018-05-28 14:39] #3 closed

[2018-05-28 14:40] metageni commented on #5
`Do I need to set something related to the database differently so I can use diamond?`

No, installing the aligner should be all you need.

[2018-05-28 14:40] #5 closed

[2018-07-13 20:16] Mark1plus1 opened #12 ""Uncompressing db failed" superfocus_downloadDB.py blast"
Getting the below error due to superfocus_downlaodDB.py not finding the downloaded db.

The db is still accessible in the downloaded directly. I have unzipped db as such:
`(super-focus) [x@y ~]$ unzip "db" -d db2/`
**Do I need to move the unzipped db to a particular directory?**

[2018-07-14 16:34] metageni commented on #12
we have been working to move the tool into bioconda, and it looks like the download script is not working correctly when installing the tool with conda.

quick solution: `cd /home/bah29/packages/anaconda3/envs/super-focus/bin/` (which i believe is where conda put the super-focus scripts) and then `superfocus_downloadDB.py blast`

I will work on the fix in the mean time - sorry about that.

[2018-07-18 15:03] #12 closed

[2018-07-18 15:23] Mark1plus1 opened #13 "Joining files makeblastdb error 803.7"
Thanks for your prompt response on the conda superfocus_downloadDB.py issue. I've overcome that but as part of the unpacking and joining I'm running into this issue. Any insight would be appreciated.
[code]

[2018-07-18 20:05] Mark1plus1 opened #14 "multiple files NameError: name 'dbdir' is not defined"
@metageni
I apologize for opening threads. I'm running into this issue when assigning a directory with multiple fastq files in there.
Specifying the db did not solve the issue, nor pointing it to the db directory.

[code]

[2018-07-20 16:30] metageni commented on #13
@Mark1plus1 hey mark. Sorry. I'm being super busy, so I will need sometime before answering you.

The quick solution to all that is to not use bioconda version for now. Instead, download version `0.28` (https://github.com/metageni/SUPER-FOCUS/releases/tag/0.28), run the download database script that is there, and run super-focus from the folder. Sorry about that.

[2018-07-20 17:04] bashirhamidi commented on #13
@metageni I can confirm that I was able to successfully get SUPER-FOCUS 0.30 from github to run and would leave it up to you to resolve or close this issue as you see fit.

[2018-08-12 20:11] metageni commented on #13
@Mark1plus1 I have refactored SUPER-FOCUS, and it should be working fine now. I still need to update it on bioconda, but it should be good to go just by running the superfocus.py or installing it using setuptools.

Let me know in case you have any feedback.

[2018-08-12 20:11] #13 closed

[2018-08-12 20:12] metageni commented on #14
@Mark1plus1 Please see

https://github.com/metageni/SUPER-FOCUS/issues/13

[2018-08-12 20:12] #14 closed

[2018-08-12 20:19] metageni commented on #1
The latest version of the program should handle it already.

[2018-08-12 20:20] metageni commented on #2
Sorry. SUPER-FOCUS does not support the scripts for plotting anymore

[2018-08-12 20:20] metageni commented on #6
Sorry. SUPER-FOCUS does not support the scripts for plotting anymore

[2018-08-14 03:25] corburn opened #15 "Repository license"
Hi, could you restore the repository license removed in commit cd4bb12ba5ec5449520bf48ed5dfc130d169f0e5? I'm updating the bioconda recipe and the build failed because the file was not found.

Thanks for tagging the release!

[2018-08-14 03:41] metageni commented on #15
Hi @corburn Thanks for working on it. I have added what you asked and other things. Also, I updated the release.

This version of the tool just passed by a big refactoring. The big one: It now uses Python3. Hopefully, it won't give you much more work.

Thanks for working on it.

best

[2018-08-15 02:07] #15 closed

[2018-08-30 17:02] metageni opened #16 "[Feature] Add to SUPER-FOCUS the option output reads assignment"
On next release of SUPER-FOCUS, it will output not only the profile for each subsystem level but also a CSV file with assignments read the name, subsystem, and e-value.

Suggestions are welcome!

[2018-12-11 16:21] vinisalazar opened #20 "Error when running download_DB command - wget command"
Hi,

I was trying to use your program. I installed all the dependencies and had both `blast` and `diamond` installed. However, when I ran the `superfocus_downloadDB -a <aligner>` command for either aligner, I got an error, and the cause for it was not having `wget` installed.

I'm installing SUPER-FOCUS on a Mac computer, therefore `wget` is not installed by default. The default command for downlo

[2018-12-11 16:26] metageni commented on #20
@vinisalazar thanks for the suggestion. I will include it in the next release.

[2018-12-17 23:15] linsalrob opened #21 "Empty results crashes focus"
If the output from the aligner is empty, SUPER-FOCUS will crash complaining that `temp_results` is not defined at line 171 of `superfocus_app/do_alignment.py`.

[2018-12-17 23:21] #21 closed

[2018-12-17 23:22] metageni commented on #21
@linsalrob Thanks for reporting it. I have committed the change to master.

[2018-12-18 23:42] linsalrob opened #24 "superfocus_downloadDB"
Currently superfocus_downloadDB downloads a huge file that includes all the clusters. I don't think the clusters are necessary, and the install fails.

I propose downloading a smaller db.zip that only contains the static files for the appropriate aligner

[2018-12-19 00:43] linsalrob opened #25 "divide by zero error"
There is a divide by zero error when you have many samples that have different ss levels and one or a few that do not.

In this line:
[code]

`normalizer` is a `numpy` array that may contain zero's.

[2018-12-19 02:51] #25 closed

[2018-12-19 16:45] linsalrob opened #27 "Concatenating arrays"
Concatenating an array and a numpy array does not work. This does not end up with an array with both entries, and the relative abundance is not printed.

[2018-12-19 16:48] #27 closed

[2018-12-19 17:41] metageni commented on #24
@linsalrob I will eventually contact you about this. You have good reasons why we should do it, and I have some good reasons why we should not.

[2018-12-21 09:33] ehj000 commented on #24
Dear metageni,
The installation of databases does not complete properly. I tried to install the diamond database

superfocus_downloadDB -a diamond

It prints errors like:

Database file: /home/miniconda2/envs/python3/lib/python3.6/site-packages/superfoclus_app/db/clusters/100_clusters.fasta
Opening the database file... No such file or directory

The directory exists, although with multiple files (

[2018-12-21 09:45] metageni commented on #24
@ehj000 It seems to be a permission problem. Another user has reported this problem, and I'm still investigating why it affects some users.

what do you get if you try `ls /home/miniconda2/envs/python3/lib/python3.6/site-packages/superfoclus_app/db/clusters/100`?

if you get all the ~ 1290 files, you can `cat` the files in the folder and manually repeat the steps starting in (https://github.com/me

[2018-12-21 10:10] metageni commented on #20
@vinisalazar I have merged the suggested changes. Thanks!

[2018-12-21 10:18] metageni commented on #16
This has been addressed in this PR https://github.com/metageni/SUPER-FOCUS/pull/17

[2018-12-21 10:56] vinisalazar commented on #20
happy to help. I hope to make time for further contributions even if they are just issues 🙂

[2018-12-21 10:56] #20 closed

[2018-12-21 10:56] #16 closed

[2018-12-21 12:52] bashirhamidi commented on #24
@ehj000 when you are downloading the database, make sure you are within that directory (as opposed to giving the directory path in the downloadDB command.

[2018-12-22 05:50] ehj000 commented on #24
Dear metageni and bashirhamidi,
Got the database formated and in the correct place. However I had to cope the file "database_PKs.txt" from an old installation of Super Focus to the superfocus_app/db directory as it was not automatically produced (not sure how to do this).

It seems to run now. Thank you for your help.
Merry Christmas
Erik

[2018-12-29 07:13] ehj000 opened #30 "Re-run super-focus using existing alignments"
Hi,
I have just finished a large super-focus job where the query counts have been normalized based on number of hits (default setting). I wonder if I can re-run super-focus using the existing alignment files with different settings to produce non-normalized counts?

The previous job took three days producing 1.5 TB alignments, so I would rather not do the alignment again.
Thanks you
Erik

[2018-12-29 18:56] metageni commented on #30
Hi @ehj000, currently it is not possible, but I can possibly add this function to it. It is the end of the year so it will take me some time - sorry.

[2019-01-09 23:58] metageni opened #32 "[feature] Add -v parameter to print program version"
See tittle

[2019-01-10 01:57] metageni commented on #32
Implemented here

https://github.com/metageni/SUPER-FOCUS/pull/33

[2019-01-10 01:57] #32 closed

[2019-01-14 11:41] abhijeetsingh1704 commented on #24
Why cant download and formatting database thing can be two different processes. Every time it takes endless time to download if you have any errors in the downloading or formatting the database in first attempt. Or may be include few lines of code to ask to redirect the script to a database if we already have a copy pre-downloaded.

[2019-01-14 16:42] metageni commented on #24
Hi @abhijeetsingh1704 I will consider adding an option to the download script to pass a directory where the downloaded database is located.

It should be in the next release.
How does it sound? Thanks for the suggestion

[2019-01-15 12:07] abhijeetsingh1704 commented on #24
I wanted to install the program on cluster computer but there is always a long wait (several hours) to get the database downloaded, but there is most of the time some error in database format, and i had to start all over again. Which means again downloading the database :( . But would be great if you consider to fix this issue.
Moreover, I don't understand the following error.
`superfocus -q bin4.

[2019-01-25 20:23] metageni opened #36 "Allow `Alternate directory for your databases` same way as done on FOCUS"

[2019-02-26 01:32] theo-allnutt-bioinformatics opened #38 "UnboundLocalError: local variable 'temp_results' referenced before assignment"
[2019-02-26 12:31:08,398 - INFO]    Parsing Alignments
Traceback (most recent call last):
  File "/home/allnutt.t/.conda/envs/py3/bin/superfocus", line 11, in <module>
    sys.exit(main())
  File "/home/allnutt.t/.conda/envs/py3/lib/python3.7/site-packages/superfocus_app/superfocus.py", line 322, in main
    minimum_identity, minimum_alignment, subsystems_translation, aligner)
  File "/home/allnut

[2019-02-26 03:16] theo-allnutt-bioinformatics commented on #38
I think this error might be caused by some of my input files having very few reads (they were mapping results). When they were excluded it went away.

[2019-02-26 03:16] #38 closed

[2019-02-26 03:26] metageni commented on #38
@theo-allnutt-bioinformatics thanks for reporting it. I feel like this problem was addressed already. Which version of the program are you using?

This should not happen on version 0.33.

[2019-03-12 06:15] s4251484 opened #41 "Database error: BLAST and Diamond"
Hi

I installed SUPER-FOCUS using miniconda today. The database_PKs.txt and organisms2subsystem.txt were not in the db folder, which I manually downloaded and put into the db folder.

ls /Users/ME/miniconda2/envs/super-focus/lib/python3.7/site-packages/superfocus_app/db
100_clusters		98_clusters
90_clusters		clusters		organisms2subsystem.txt
95_clusters		database_PKs.txt

Here are the two database

[2019-03-12 14:23] metageni commented on #41
Hi @s4251484 , Any reason to be using SUPER-FOCUS 0.31 rather than the latest?

Also, did you can the program to download the database (https://github.com/metageni/SUPER-FOCUS#database)?

Best

[2019-03-12 21:19] s4251484 commented on #41
hi @metageni, 0.31 was the version I got when I downloaded SUPER-FOCUS via miniconda. and it was not updated even after I "conda update super-focus"
and yes I downloaded both blast and diamond databases.

**UPDATE I**: I install SUPER-FOCUS using pip3 intall instead and got the latest version 0.33. however it didn't manage to format the diamond database successfully, my guess is there is problem w

[2019-03-13 17:44] metageni commented on #41
@s4251484

I just took a look into the problem, and it seems that version 0.33 would fix it. For some reason, bioconda is installing v0.31.

I just downloaded version 0.33 on git and installed it. I downloaded the database and everything worked fine.

For now, I would recommend you do the same.

I will follow up with the bioconda team on the issue.

Sorry about it

[2019-03-16 13:14] s4251484 commented on #41
@metageni  that will be great! thank you~ thank you for developing useful tools like this. They are great for bio students who dont have a programming background, eg ME!

[2019-03-30 07:28] fconstancias commented on #41
I am experiencing the same issue running superfocus installed using conda.

[2019-03-30 17:22] metageni commented on #41
Hi @fconstancias, I will see if this weekend I can create a new version that deals with the database installation in a different way. Stay tuned!

[2019-04-01 22:11] theo-allnutt-bioinformatics opened #42 "Very very large .m8 temporary files"
I am running superfocus on 96 samples with ~20GB read files each. As it is running, each  sample gives a ~60Gb .m8 file, so space is becoming an issue. Is three any way to alter this behaviour? There is no way I can store 96 x 60Gb files before the run has finished.

Thanks,

T.

[2019-04-02 02:52] metageni commented on #42
@theo-allnutt-bioinformatics Bummer!

I created a PR with a solution for it here (https://github.com/metageni/SUPER-FOCUS/pull/43)

The quick solution deletes these large files.

just add `-d` when you run superfocus. it should delete these large files after every alignment is done and data was parsed.

You probably want to keep the database and not have to download it.

Let me know if you have an

[2019-04-02 03:34] metageni commented on #42
I actually merged it into master, but no version was released it.

[2019-04-02 03:38] theo-allnutt-bioinformatics commented on #42
Thanks very much. I will try it on my next run. Does this mean that I can delete the alignment files for completed samples while it is still running?

[2019-04-02 03:48] metageni commented on #42
Yes, once the alignment is done and the file is parsed, it can be deleted. So that is what the `-d` will do. I left the original alignments because some people like having it.

So if you have 90 samples, alignment of sample 1 will be deleted before the alignment of sample 2 start, and parsed results will be stored in the `dict.`

[2019-04-02 03:50] theo-allnutt-bioinformatics commented on #42
Great, thanks for your quick reples.

[2019-04-02 03:50] #42 closed

[2019-04-02 06:19] metageni opened #44 "[feature] Add check for database before running based on aligner and cluster choice"

[2019-04-02 06:53] metageni commented on #41
@fconstancias @s4251484 I have released a new version (v0.34) of superfocus (https://github.com/metageni/SUPER-FOCUS/releases) where users can now manually download the database and format it using a script I wrote.

It should be live on bioconda in 1-2 days. I will see if I can push it tomorrow into pip.

For now, you can pip it using (https://github.com/metageni/SUPER-FOCUS/releases).

Please re

[2019-04-02 06:54] metageni commented on #24
@abhijeetsingh1704 @ehj000 @bashirhamidi I have released a new version (v0.34) of superfocus (https://github.com/metageni/SUPER-FOCUS/releases) where users can now manually download the database and format it using a script I wrote.

It should be live on bioconda in 1-2 days. I will see if I can push it tomorrow into pip.

For now, you can pip it using (https://github.com/metageni/SUPER-FOCUS/rele

[2019-04-02 12:49] adlape95 opened #46 "What kind of normalization does SUPER-FOCUS perfom?"
Hi,

I have just installed and tested SUPER-FOCUS on a metagenomic dataset. Everything worked nice and quick, but when I opened the output I found that the counts assigned to each subsystem were float numbers (I expected integers).

After reading the manual and the paper (including the methodological paper), I found that SUPER-FOCUS performs some kind of normalization, but I do not know for sure h

[2019-04-02 15:38] metageni commented on #46
Hi @adlape95 - this is a common question.

You are not having an integer number in the assignment number because the read sequence hit multiple subsystems, so the program normalizes the count by the number of subsystems. For example, if the "sequence A" hits "subsystem A" and "subsystem B", the program counts 0.5 into "subsystem A" and 0.5 into "subsystem B". Looks like you want an integer number

[2019-04-02 15:39] metageni opened #47 "[feature] change -n 0/1 to only -n using `action='store_true'`"

[2019-04-02 15:44] metageni opened #48 "[new release - features] SUPER-FOCUS 0.37"
- Add check for the database before running based on aligner and cluster choice
- Allow `Alternate directory for your databases` same way as done on FOCUS (https://github.com/metageni/SUPER-FOCUS/issues/30)
- Change -n 0/1 to only -n using `action='store_true'`
- Add a parameter for temp files from DIAMOND (https://github.com/metageni/SUPER-FOCUS/issues/49)
- Delete cat FASTA(s) after running supe

[2019-04-02 15:44] #47 closed

[2019-04-02 15:44] #44 closed

[2019-04-02 15:44] #36 closed

[2019-04-02 15:45] adlape95 commented on #46
Perfect. All clear now. Thank you very much.

Best.

[2019-04-02 15:45] #46 closed

[2019-04-04 17:46] ghost commented on #41
I have tried installing v0.34 but at the end, it is installing 0.0.0 version.

[root@rameshgoel ~]# cd /srv/data/SUPER-FOCUS-0.34/
[root@rameshgoel SUPER-FOCUS-0.34]# python setup.py install
/usr/bin/miniconda3/lib/python3.6/distutils/dist.py:261: UserWarning: Unknown distribution option: 'use_scm_version'
  warnings.warn(msg)
running install
running bdist_egg
running egg_info
creating superfocus.

[2019-04-04 17:54] metageni commented on #41
[code]

Bizzare! I wonder if it is something to do with bioconda.

I will need to investigate it

[2019-04-04 18:05] ghost commented on #41
Hi @metageni : I was able to install v0.34 using super user by logging as root.
But I can't access the superfocus when log in as user. How to fix this?

[2019-04-04 18:30] mdimdadi opened #49 "IsADirectoryError: [Errno 21] Is a directory: '/home/mdimdadi/14777R/FastQ/Passed_Reads/14777x5/5_superfocus_output'"
When I run the following command I get an error:
$ superfocus -q 14777x5_All_Read_Merged.fastq -dir 5_superfocus_output/ -a diamond -t 25 -e 0.00001 -db DB_90 -l 5_superfocus_output/ &

[mdimdadi@rameshgoel 14777x5]$ Traceback (most recent call last):
  File "/usr/bin/superfocus", line 10, in <module>
    sys.exit(main())
  File "/usr/bin/miniconda3/lib/python3.6/site-packages/superfocus_app/super

[2019-04-04 18:45] metageni commented on #49
`-l` requires a file for the log rather than a directory.

[2019-04-04 22:26] ghost commented on #49
Hi @metageni Thanks, that helped.

Now I ran the super-focus, it launches successfully. But after some time, I get the following error:

Processing query chunk 0, reference chunk 0, shape 1, index chunk 1.
Building reference index...  [5.16536s]
Building query index...  [4.31462s]
Building seed filter...  [0.37562s]
Searching alignments... Error: Error writing file /usr/bin/miniconda3/lib/python

[2019-04-04 22:30] metageni commented on #49
How much storage do you have available? The error message seems to point that the alignments temp file cannot be written `Disk full?`

[2019-04-04 22:33] ghost commented on #49
[mdimdadi@rameshgoel data]$ df -h
Filesystem                     Size  Used Avail Use% Mounted on
/dev/mapper/centos-root         50G   44G  6.8G  87% /
devtmpfs                       126G     0  126G   0% /dev
tmpfs                          126G     0  126G   0% /dev/shm
tmpfs                          126G  2.5G  124G   2% /run
tmpfs                          126G     0  126G   0% /sys/fs/cgroup
/

[2019-04-04 22:44] metageni commented on #49
Try to modify https://github.com/metageni/SUPER-FOCUS/blob/master/superfocus_app/do_alignment.py#L77

I think it should be on your computer at /usr/bin/miniconda3/lib/python3.6/site-packages/superfocus_app/do_alignment.py

edit `temp_folder` to be the Path you want the temp files to go. I will add a fix on next release so people can pass it as an optional parameter.

[2019-04-04 22:56] ghost commented on #49
when I open the do_alignment.py, I see
temp_folder = Path("{}/db/tmp/".format(WORK_DIRECTORY))

I want to write the temp file say in /srv/data/ should I make it like the following:

temp_folder = Path("/srv/data/".format(WORK_DIRECTORY))

Thanks @metageni

[2019-04-04 22:57] metageni commented on #49
Sure. Please keep me posted if it will solve your problem.

[2019-04-04 22:58] metageni commented on #49
I think you will want to set `temp_folder = PATH_WHERE_YOU_WANT_TEMP_FILES`

`temp_folder = Path("/srv/data/".format(WORK_DIRECTORY))` may not work.

[2019-04-04 23:03] ghost commented on #49
so like this:
temp_folder = Path("/srv/data/")

[2019-04-04 23:22] metageni commented on #49
yep

[2019-04-04 23:29] ghost commented on #49
The first way is working I think. It's not stopping anymore for DISK_FULL reason.

Thank you very much, You are awesome!!

[2019-04-05 10:27] metageni commented on #41
Problem solved here https://github.com/metageni/SUPER-FOCUS/issues/49

[2019-04-05 10:30] #49 closed

[2019-04-05 10:32] metageni commented on #41
Closing this issue, and leaving (https://github.com/metageni/SUPER-FOCUS/issues/24) so people can ask questions there.

[2019-04-05 10:32] #41 closed

[2019-04-09 16:07] abhijeetsingh1704 commented on #24
`superfocus -q trial_bins/ -dir superfocus_result/ -a blast -db DB_95`
[2019-04-09 19:54:04,158 - INFO] SUPER-FOCUS: A tool for agile functional analysis of shotgun metagenomic data
Traceback (most recent call last):
  File "/home/abhijeet/anaconda3/envs/super-focus/bin/superfocus", line 11, in <module>
    load_entry_point('superfocus==0.0.0', 'console_scripts', 'superfocus')()
  File "/home/abhi

[2019-04-10 08:33] fconstancias commented on #41
I have just installed super focus using conda `conda create -n super-focus -y -c bioconda super-focus` and I also got

[2019-04-10 18:42] metageni commented on #24
@abhijeetsingh1704  which version of Superfocus are you running?

Did you run `superfocus_downloadDB` to download the blast database?

It is odd because this file comes with the tool installation (https://github.com/metageni/SUPER-FOCUS/tree/4bdaefff32fef9ad031345c7ded93a089807ce83/superfocus_app/db)

[2019-04-10 18:44] metageni commented on #41
@fconstancias For some reason, superfocus is giving this back when using -v. Were you able to run the program? I will add a fix to it on next release.

You can also install the too with pip.

[2019-04-11 10:12] abhijeetsingh1704 commented on #24
`abhijeet@abhijeet:~$ superfocus -v`
`SUPER-FOCUS 0.34`

The version is the newest as you mentioned, V0.34, nevertheless i will get the database_PKs.txt file and will put it in db, and hope it would work.

[2019-04-11 15:33] metageni commented on #24
If not, please try installing it with pip (`pip3 install superfocus`)

[2019-04-13 08:26] s4251484 opened #50 "rapsearch database cannot open"
Hi @metageni i'm receiving this error when i try running superfocus with rapsearch database, but it runs perfectly when i run it with diamond! strange~

Queries are nucleotide sequences in fasta format
Can not open the database file
Please check the file name

Time used: 0 min (0.0 hours)
[2019-04-13 18:12:43,801 - INFO]    Parsing Alignments
Traceback (most recent call last):
  File "/gpfs1/scrat

[2019-04-13 13:42] s4251484 commented on #50
Sorry @metageni  please close this issue. turn out that the info file was renamed, hence the script couldnt work.

[2019-04-13 14:38] metageni commented on #50
@s4251484 No problem. `prerapsearch` is the tool to format the database and `rapsearch` is the aligner - that is why the confusion.

[2019-04-13 14:39] #50 closed

[2019-04-22 18:17] ctseto opened #51 "Issues with Excel-based output"
Getting errors with opening xls outputs (eg output_binning.xls) on Office 2013 on a work machine:
"The file format and extension of output_binning.xls don't match. The file could be corrupted or unsafe..."
Ignoring the cautionary message it appears to open just fine. Similarly, opening these files in R with readxl::read_excel() appears to generate error messages; but unsure if the latter is relate

[2019-04-22 18:18] metageni commented on #51
Please rename the file to `*.csv` and open on `excel`. Or just say `Yes` when you see the message you got.

[2019-04-24 15:15] ctseto commented on #51
I feel pretty stupid for not running head earlier and seeing that it was plain-text. But at least it's something that is pretty easy to resolve, thanks!

[2019-04-24 16:58] #51 closed

[2019-04-26 21:15] GenomicaMicrob commented on #24
no database_PKs file when installed with conda (and the db formatted with it), and if I download the file from github, it says "IndexError: list index out of range". Indeed the installation need some polishing.

[2019-04-26 21:32] metageni commented on #24
Hi @GenomicaMicrob, Please try to install it with `pip` and let me know how it goes. I'm still working with conda to see what's up.

[2019-11-06 08:45] Thomieh73 commented on #24
Hi, I was just about the set-up Super-focus and I wondered about the database that I could download. When was it created?

[2019-11-06 15:23] Thomieh73 commented on #24
Hi I tried setting up the database but that failed using the normal route. But with a bit fidling it worked. What did I do?

I installed super-focus using conda in an enviroment only for super-focus. I have tried both commands available on the conda pages. [https://anaconda.org/bioconda/super-focus](https://anaconda.org/bioconda/super-focus)

The first command installed version 0.34 and the second

[2019-11-06 16:57] metageni commented on #24
Hey @Thomieh73, thanks for the feedback. I'm glad you were able to figure this out.

There is something wrong with the bioconda installation that I have not figured out yet. I will take it down and put it back once it works fine.

In the meantime, please should be fine with the pip version - I just installed it with no problem. (pip superfocus, download db, and run superfocus_downloadDB). I think

[2019-11-07 08:51] Thomieh73 commented on #24
I had checked the permission, but that all seemed okay. My database creation basically failed because the superfocus bioconda installation does not create this db folder in the superfocus-app folder. And the superfocus_downloadDB script does not do that right? it already has to be there to function.

[2019-11-14 15:52] Thomieh73 opened #52 "Superfocus normalization?"
Hey,
I am just trying to wrap my head around the normalization done by superfocus. As I understand it following closed issued #46, if a read is matching two subsystems the hit will be split, 0.5 to one and 0.5 to another subsystem. So for that particular read both subsystems than have the exact same score.

And for counting the abundance of  a subsystem, you summarize all the matches to a particul

[2019-11-17 22:12] bcpd opened #53 "not enough values to unpack error"
Dear all,

Thank you for this great tool. After smoothly running 65 fastq files using -a diamond and -db DB_100, I get the following error:

File "/usr/bin/miniconda3/lib/python3.6/site-packages/superfocus_app/superfocus.py", line 342, in main
del_alignments)
ValueError: not enough values to unpack (expected 2, got 0)

This does not appear to be a disk space issue, as I have 430GB of space availab

[2019-12-02 18:00] lidpeck opened #54 "amino acid sequences"
Hello

I have successfully used superfocus on ORFs. However when I try to run it on amino acid sequences I get the below error - do you know why this is? I think the problem is the error message about an E (Error: Error reading input stream at line 2: Invalid character (E) in sequence) but not sure why it would give me this if I've told it to read amino acids (-p 1)?

Thanks in advance

superfocus

[2019-12-02 18:08] metageni commented on #54
hey @lidpeck, were you able to run it with nucleotides?

[2019-12-02 18:13] metageni commented on #54
@lidpeck. I just checked the tool code and noticed that BLASTp for DIAMOND is not active. I will need to fix it and release a new version. Sorry.

I should have a fix in the next hours.

[2019-12-02 18:37] lidpeck commented on #54
@metageni amazing thanks. yes I ran it successfully with nucleotide sequences

[2019-12-02 18:51] metageni commented on #54
@lidpeck I have pushed a new version into master (https://github.com/metageni/SUPER-FOCUS). I have not released it yet. Could you please give it a try?

thanks

[2019-12-02 20:09] lidpeck commented on #54
Great thanks - I copied over the new script from do_alignment.py and now it is running for my amino acid sequences with no errors. However the output .xls files are empty although the fasta_alignments.m8 file has genes and functions in it? I have also re-run superfocus_downloadDB to see if that sorted it (but with no luck).

![Screenshot 2019-12-02 at 20 07 23](https://user-images.githubuserconten

[2019-12-03 01:27] metageni commented on #54
Interesting. What is your OS? Could you please try rapsearch or blast with a sub-set of your input?

[2019-12-03 11:07] lidpeck commented on #54
I'm using catalina. I've just re-run with BLAST (db 98) and got the same result (fasta_alignments file with info in, all xls files empty)

[2019-12-03 20:28] metageni commented on #54
@lidpeck very interesting. The only thing it tells me is that there was not a hit against the database.

[2019-12-04 12:01] lidpeck commented on #54
Hi Geni, you’re right! It’s working perfectly now – thanks a million

From: Geni Silva <notifications@github.com>
Reply to: metageni/SUPER-FOCUS <reply@reply.github.com>
Date: Tuesday, 3 December 2019 at 20:28
To: metageni/SUPER-FOCUS <SUPER-FOCUS@noreply.github.com>
Cc: "Peck, Lily" <l.peck18@imperial.ac.uk>, Mention <mention@noreply.github.com>
Subject: Re: [metageni/SUPER-FOCUS] amino acid sequ

[2019-12-05 22:47] metageni commented on #54
Great.

[2019-12-05 22:47] #54 closed

[2019-12-05 22:52] metageni commented on #52
@Thomieh73 Sorry for the late answer - for some reason I just saw it new.

`Short answer`: no big reason behind the normalization. If you can use another flavor of the normalization by using `-n`

The rationale behind this is just the different styles for normalization data. SUPER-FOCUS supports two flavors, the one you described, one read hit two subsystems, so each subsystem gets 0.5

However, t

[2019-12-05 22:53] metageni commented on #53
Sorry for the late answer. Did you figure it out? Probably one of the FASTQs is too small and did not generate any alignments.

Let me know what you found, so I can fix the bug, if any.

Best

[2019-12-05 22:54] #24 closed

[2019-12-05 22:54] #30 closed

[2019-12-06 16:01] metageni commented on #52
I guess this was addressed in another thread.

[2019-12-06 16:01] #52 closed

[2019-12-13 00:32] bcpd commented on #53
Hi Geni,
Thank you for your reply. I cannot say for sure if the size of the alignment is causing the issue, but I just had the same problem with another dataset (the one giving me problems ended up running fine). If what you say is true, then it would be great if superfocus could skip the small files and run to completion.
Thanks very much.

[2019-12-13 06:37] metageni commented on #53
Do you still have the command line you ran? I recently fixed a bug related to this.

Best

[2019-12-13 16:55] bcpd commented on #53
Hi Geni,

This is the command (excluding or including the -d makes no difference):
superfocus -q /folder/ -dir /folder/ -db DB_100 -a diamond -t 8 -d

Also, a negative control with ~1000 reads ran fine, so size does not appear to be an issue.

[2019-12-20 16:31] metageni commented on #53
I see. Thanks for sharing it.

[2020-01-07 02:25] bishav6708 opened #56 "Description on functional profiles"
What is the difference between the 'Phages, Prophages, Transposable elements' and 'Phages, Prophages, Transposable elements, Plasmids'. How are 'Phages, Prophages, Transposable elements' incorporated in the later one? Does this indicate anything for the horizontal gene transfer?
Can you refer to any literature for some detail description of each function?

[2020-01-08 05:30] metageni commented on #56
Hi @bishav6708 I think this is a question to the SEED team. I'm sorry for not having an answer.

[2020-01-15 22:44] linsalrob opened #57 "superfocus_downloadDB -i is required"
In the current version of superfocus_downloadDB the `-i` option is required, and so the program won't download databases.

[2020-01-15 22:51] linsalrob commented on #57
Read the [revised instructions on installing the database and it becomes clear](https://github.com/metageni/SUPER-FOCUS#database)

[2020-01-15 22:51] #57 closed

[2020-02-24 15:19] cbjurnemark opened #58 ""FOCUS is not avaliable on this version""
Hi, I am trying to run SUPER-FOCUS for the first time and encountered an error.

When running SUPER-FOCUS using command:

[code]

I get the following error message:

`FOCUS: Running FOCUS is not avaliable on this version. Please see https://github.com/metageni/FOCUS on how to run it`

I have version SUPER-FOCUS 0.34 and according to the wiki I understand it as I should be able to run FOCUS using S

[2020-02-24 17:07] metageni commented on #58
Hi @cbjurnemark That is correct. FOCUS was removed from SUPER-FOCUS on the latest version. However, you can still un FOCUS separated if you want. It should be easy to install and run.

I intend to put it back in the next release - currently working on a bug.

[2020-02-24 17:16] cbjurnemark commented on #58
Thank you for the quick reply!

Do I put the output from FOCUS in the same input folder as the fastq files or does that have to be handled differently? I did not find any information about that part.

[2020-02-24 17:21] metageni commented on #58
As I removed FOCUS as part of the SUPER-FOCUS workflow, you don't need to use the FOCUS output as SUPER-FOCUS input.

The only reason you should run FOCUS separately is if you need the taxonomic analysis for whatever you are doing, but you don't need to input this to SUPER-FOCUS.

If you are only interested in only the functional analysis running only SUPER-FOCUS is enough.

[2020-02-24 17:44] #56 closed

[2020-02-24 18:02] cbjurnemark commented on #58
Ok I understand! Thanks for the clarification!

[2020-02-24 18:07] #58 closed

[2020-05-20 01:38] s4251484 opened #59 "_csv.Error: field larger than field limit (131072)"
Hi @metageni and the team

i encountered this issue where superfocus successfully generated the .m8 file but failed to generate the excel files. FYI, I am analysing the contigs with superfocus diamond 98.

Verbose output:
.......
478 queries aligned.
diamond v0.9.32.133 (C) Max Planck Society for the Advancement of Science
Documentation, support and updates available at http://www.diamondsearch.or

[2020-05-20 01:47] metageni commented on #59
@s4251484 Thanks for reporting this.

One thing to be aware - unrelated to what you reported. Make sure you predict the ORFs for the contigs before running SUPER-FOCUS. Otherwise, the tool will assign the best hit which will not represent all the functions on the contig.

I will need to take a deeper look into your problem and I will get back to you.

[2020-05-20 01:54] metageni commented on #59
@s4251484
The solution seems to be simple. I will push it into master and will you be able to re-run it?

Best

https://stackoverflow.com/questions/15063936/csv-error-field-larger-than-field-limit-131072

[2020-05-20 01:56] s4251484 commented on #59
hi!
yea i modified the do.alignment.py accordingly.
yea it is a fix!

meanwhile I shall work on my ORF! legit advice! thanks!

[2020-05-20 01:59] #59 closed

[2020-06-18 09:35] chulghim opened #61 "Please, help => ValueError: not enough values to unpack (expected 2, got 0)"
I installed latest version super-focus from github.

Python version 3.7.3
diamon version 0.931

python ./superfocus_app/superfocus.py -q in -dir out -a diamond -t 20
...
....
Loading query sequences...  [0s]
Closing the input file...  [0s]
Closing the output file...  [0.423s]
Closing the database file...  [0s]
Deallocating taxonomy...  [0s]
Total time = 1746.95s
Reported 224525228 pairwise alignme

[2020-06-19 04:07] metageni commented on #61
@chulghim Could you please install it using one of the methods described here (https://github.com/metageni/SUPER-FOCUS#installation). It will add the tool to your path - it makes a big difference.

Also, did you format the database to work with DIAMOND using (https://github.com/metageni/SUPER-FOCUS#database)?

Let me know

[2020-07-02 21:24] carden24 opened #62 "Non UTF-8 characters in the your database creating parsing errors"
I run into problems parsing diamond alignments created with the latest version of superfocus (
SUPER-FOCUS 0.34, on Apr 2, 2019)

[code]
The issue is that one of your sequences in your fasta files in the database has non-utf characters.

I found them using this command:

[code]

The cultrip is this sequence:

Which apparently looks fine but if you check the characters, it has a weird one ^V=SYN (S

[2020-07-02 22:03] metageni commented on #62
Thanks, @carden24. I will add the change into the next release.

Surprisingly,  SUPER-FOCUS's users have formated the same database file and it is the first time I see this error.

Best

[2020-07-02 22:08] metageni commented on #62
Fixed - Thanks

[2020-07-03 16:02] carden24 commented on #62
It is a very unusual error indeed. You will only see it if you have a hit against that subject in the database.  I do not know if it only shows in my version of python3 (3.6.10) or csv (1.0).  Thanks for the quick fix. feel free to close the issue.

[2020-07-03 16:03] metageni commented on #62
gotcha! thanks again.

[2020-07-03 16:03] #62 closed

[2020-07-03 16:04] #48 closed

[2020-07-03 16:04] #53 closed

[2020-08-02 18:41] bishav6708 opened #64 "Functional abundance and discrepancy between Subsystem 2 and 3"
Hello,
1) I was wondering how the abundance is calculated? The output has two columns '*.fna' and '*.fna %'.

2) Also, when I ran Superfocus in my dataset, I found discrepancy between Subsystem 2 and 3.  I have 3 sets of metagenomic data. Subsystem 2 showed the presence of CO2 fixation in two sets. However, in subsystem 3, CO2 fixation was absent in two sets, while present in the other data.

Than

[2020-08-03 00:09] metageni commented on #64
1. the program normalizes the count by the number of subsystems. For example, if the "sequence A" hits "subsystem A" and "subsystem B", the program counts 0.5 into "subsystem A" and 0.5 into "subsystem B". This happens if -n 1

If you don't want to normalize it, you should set the "-n 0" when you run the tool (which I think is the default)

2. Thanks for reporting it. If you want to be more specif

[2020-08-03 00:35] bishav6708 commented on #64
Thanks for the reply!
I used the default option. I checked and the default option is -n 1 (which normalizes).
I predicted the ORFs from my contigs and used them as the query. I assume the normalized abundance that SUPERFOCUS reports are the abundance calculated based on the **'NUMBER'** of ORFs detected, correct?
Sorry, I am a novice in bioinformatics. I am trying to determine functional diversity

[2020-08-03 00:42] metageni commented on #64
`I predicted the ORFs from my contigs and used them as the query. I assume the normalized abundance that SUPERFOCUS reports are the abundance calculated based on the 'NUMBER' of ORFs detected, correct?`

Yep, you are right.

` For instance, let us assume the input file has 100 ORFs. If the normalized abundance reported for nitrogen metabolism is 5%, does that mean that 5 ORFs were classified as ni

[2020-08-06 06:30] linsalrob opened #65 "superfocus_downloadDB"
After a conda install and then downloading the databases, the command `superfocus_downloadDB  -a diamond -i clusters/` fails because the output directory (`Error: Error opening file in my case `$HOME/anaconda3/envs/superfocus/lib/python3.8/site-packages/superfocus_app/db/static/diamond/`) does not exist.

I think `superfocus_downloadDB` should just make the output directories for the aligner befor

[2020-08-06 07:08] linsalrob opened #66 "smaller downloadDBs"
I premade the databases for conda download.

Please check your `diamond` version with `diamond --version` and then read the [diamond documentation](https://github.com/bbuchfink/diamond/wiki/5.-Advanced-topics#database-format-versions) to know which version to download. You can also find out the database version you have installed with `diamond dbinfo`.

Cluster Size | diamond version 1 databases |

[2020-08-06 07:12] linsalrob opened #67 "conda install can't find database_PKs.txt"
This may be because I installed from conda, but `database_PKs.txt` can not be found.

 I have put it for [download here](https://edwards.sdsu.edu/SUPERFOCUS/downloads/database_PKs.txt)

[2020-08-21 12:32] StefPN commented on #66
Great you did this as I am having trouble to get the DBs work. I downloaded https://edwards.sdsu.edu/SUPERFOCUS/downloads/conda/diamond_v1/98_clusters.db.dmnd.zip, however, I do get the warning
[code]
Did I misunderstand your instructions? Which file should work with diamond v0.9.24.125? FWY, I also tried https://edwards.sdsu.edu/SUPERFOCUS/downloads/conda/diamond_v3/98_clusters.db.dmnd.zip with t

[2020-08-21 20:15] metageni commented on #66
Hi @StefPN, it looks to me that the DIAMOND version you used is different from the one @linsalrob. You can always download the raw FASTA and format it yourself as it has on the tool README file.

Let me know how it goes

[2020-08-21 20:26] StefPN commented on #66
Thanks Geni! Unfortunately,  that did not work.  No diamond folder was created in the static directory. For neither superfocus I installed. All of them,  using pip, your git or conda were version 0.0.0. they seem to work,  but do not find the db as the formating following your instructions does not seem to create the necessary folders and directories  for me. that is why I tried this approach. So

[2020-08-21 20:32] metageni commented on #66
@StefPN Can you please try this?

https://github.com/metageni/SUPER-FOCUS/issues/65

[2020-08-21 20:39] StefPN commented on #66
I am not sure what you mean. The link gets me to the same problem I have but I do not see a solution there?

Get Outlook for Android<https://aka.ms/ghei36>
________________________________
From: Geni Silva <notifications@github.com>
Sent: Friday, August 21, 2020 10:33:01 PM
To: metageni/SUPER-FOCUS <SUPER-FOCUS@noreply.github.com>
Cc: Stefanie Prast-Nielsen <stefanie.prast-nielsen@ki.se>; Mention

[2020-08-21 20:51] metageni commented on #66
@StefPN I'm at work right now. I will get back to you with more details this weekend, ok?

[2020-08-21 20:52] StefPN commented on #66
I would be very glad! Thank you!

Get Outlook for Android<https://aka.ms/ghei36>
________________________________
From: Geni Silva <notifications@github.com>
Sent: Friday, August 21, 2020 10:51:44 PM
To: metageni/SUPER-FOCUS <SUPER-FOCUS@noreply.github.com>
Cc: Stefanie Prast-Nielsen <stefanie.prast-nielsen@ki.se>; Mention <mention@noreply.github.com>
Subject: Re: [metageni/SUPER-FOCUS] smaller do

[2020-08-23 22:27] linsalrob commented on #66
According to the [diamond help page](http://www.diamondsearch.org/index.php?pages/advanced_topics/),v0.9.19 to v0.9.24 produce and accept format version 2, which of course is the only version I did not include. I will attempt to install and include that version here.

[2020-08-24 03:57] linsalrob commented on #66
@StefPN I have updated the comment here with revised locations for all the databases. Can you use the correct version for your `diamond` version and let us know if it solves your problem.

[2020-08-24 06:33] StefPN commented on #66
Dear Rob,
Thank you very much! I now downloaded the 98 v2. When I start running SF, I do not get the DB error I got before. However, unfortunately I get the following error:
[code]
I do not see anything wrong with my fastq file. What could be the problem?
Thank you very much for your help!

[2020-08-24 10:25] linsalrob commented on #66
This is the diamond database, so change `-a blast` to `-a diamond`

Rob

On Mon, Aug 24, 2020, 4:04 PM StefPN <notifications@github.com> wrote:

[2020-08-24 11:48] StefPN commented on #66
Of course! Sorry, I was not paying enough attention when copying the code this morning. It seems to be running now. Thank you!

[2020-08-24 12:40] StefPN commented on #66
So, while the db seems to be correct now, I get another error:
`Deallocating taxonomy...  [8e-06s]
Total time = 724.78s
Reported 29736263 pairwise alignments, 29750338 HSPs.
1632832 queries aligned.
diamond v0.9.24.125 | by Benjamin Buchfink <buchfink@gmail.com>
Licensed under the GNU GPL <https://www.gnu.org/licenses/gpl.txt>
Check http://github.com/bbuchfink/diamond for updates.

#CPU threads: 4

[2020-08-24 21:41] linsalrob commented on #66
Are you running two superfocus commands at the same time? I think you will
need to run one and wait for it to finish and then run the other. Or run
them in separate directories.

Rob

On Mon, 24 Aug 2020 at 22:10, StefPN <notifications@github.com> wrote:

[2021-06-28 12:58] ModelMEMS opened #68 "superfocus_downloadDB: Error opening database file"
Hello,

I'm trying to run Superfocus on our computer cluster, but I can't get the DB set up. I've downloaded the db.zip with the clusters, and now try to run the following line (according to your instructions):

superfocus_downloadDB -i clusters -a diamond -c 95

But I get the following error:

[2021-06-28 14:55:25,976 - INFO] Formating Database for aligner(s): diamond and cluster(s): 95
[2021-06-

[2021-06-28 20:24] metageni commented on #68
hi - do you have writing permission to `/home/username/.local/lib/python3.8/site-packages/superfocus-0.0.0-py3.8.egg/superfocus_app/db/static/diamond/`. If not, maybe try to change the permissions and run it again? thanks

[2021-06-29 07:18] ModelMEMS commented on #68
The db directory doesn't appear to exist at all:

[code]

I have tried relaxing permissions on the .local folder, but that doesn't appear to do anything.

[2021-06-30 14:57] metageni commented on #68
Odd. I think it has something to do with the permission of the user on the system. How did you install the tool? pip or conda?

Could you please try to create `/home/username/.local/lib/python3.8/site-packages/superfocus-0.0.0-py3.8.egg/superfocus_app/db/static/diamond/` and re-run the database build?

thanks

[2021-07-01 07:22] ModelMEMS commented on #68
I've just done that, but still no luck. It never even writes the file 90_clusters.db.dmnd there. I'll get IT here to find me a permissions work-around, but it's probably something you may want to fix in the future. This shouldn't require sudo rights :/

-----------------------------

EDIT For future trouble shooters: I've now (after 4 days... ^^) discovered that there was 1 specific way to get aro

[2021-07-01 13:01] ModelMEMS opened #69 "single-file query no longer working?"
I read in older documentation that focus had an option -m 0 to use a single fasta as input (rather than a directory). However, that appears to no longer work, as I get the error:

NotADirectoryError: [Errno 20] Not a directory: 'my_fasta.fa'

[2021-11-04 01:37] theo-allnutt-bioinformatics commented on #68
I have the same issue.

superfocus_downloadDB -i clusters -a diamond -c 90
[2021-11-04 12:27:55,609 - INFO] Formating Database for aligner(s): diamond and cluster(s): 90
[2021-11-04 12:27:55,609 - INFO]   Joining files
[2021-11-04 12:31:58,490 - INFO]   Formatting Database
[2021-11-04 12:31:58,490 - INFO]   DIAMOND: DB_90
diamond v2.0.11.149 (C) Max Planck Society for the Advancement of Science
Do

[2021-11-04 01:39] theo-allnutt-bioinformatics commented on #68
The db is too large for the home directory of the cluster I am using. It would have to be on an attached storage directory.

[2021-11-04 02:18] theo-allnutt-bioinformatics commented on #68
I fixed this by manually building a diamond db and making a symlink in the expected .local directory to the db directory on my storage:

git clone https://github.com/metageni/SUPER-FOCUS.git
cd SUPER-FOCUS && python3 setup.py install
wget edwards.sdsu.edu/superfocus/downloads/db.zip
unzip db.zip
cat clusters/90_clusters/*.faa >90_clusters.fasta
diamond makedb --in 90_clusters.fasta --db superfocus

[2021-11-24 06:04] #61 closed

[2021-11-24 06:05] #64 closed

[2021-11-24 06:05] #65 closed

[2021-11-24 06:05] #66 closed

[2021-11-24 06:05] #67 closed

[2021-11-24 06:06] #68 closed

[2021-11-24 06:07] metageni commented on #69
Sorry for taking too long to get back to you. You are correct; the latest version of the tool only takes a directory.

[2021-11-24 06:07] #69 closed

[2021-11-25 01:55] SergeyBaikal commented on #68
Same problem.

[2021-11-25 02:26] SergeyBaikal commented on #68
theo-allnutt-bioinformatics, many thanks! It helped me!

[2021-12-22 07:30] boulund opened #74 "Conda install does not properly bundle db dir"
It seems the bioconda package does not properly bundle the `db` folder.

When installing SUPER-FOCUS using pip, you get a folder in your python library folder that contains the `db` directory from the repo (including the `databasePKs.txt` and `organism2subsystem.txt` files, etc.). For example, if I create an empty conda environment named `superfocus` and use pip to install super-focus into that co

[2021-12-22 10:34] boulund commented on #74
I developed a workaround to enable using SUPER-FOCUS with a conda-based installation, explained in: https://github.com/metageni/SUPER-FOCUS/pull/73#issuecomment-999466528

[2021-12-22 15:52] metageni commented on #74
Thanks @boulund. The PR has been merged and the already created version (1.1) should have the fix.

https://github.com/bioconda/bioconda-recipes/pull/32145

[2021-12-28 07:24] linsalrob opened #76 "version doesn't work"
The `-v` option does not inform us of the version:

Install from conda, then

[code]

[2021-12-28 15:43] metageni commented on #76
Thanks. I will this out for the next release; it seems to work with pip.

[2021-12-28 21:27] linsalrob commented on #76
You probably need to add these two lines to your `host:` section in your [bioconda/super-focus/meta.yaml](https://github.com/bioconda/bioconda-recipes/blob/master/recipes/super-focus/meta.yaml) file:

[code]

[2022-01-05 21:30] metageni commented on #76
@linsalrob : was this fixed with your bioconda PR? thanks

[2022-01-05 21:33] linsalrob commented on #76
Yes, all fixed. It required `setuptools_scm` in the `meta.yaml`

[2022-01-05 21:33] #76 closed

[2022-01-05 21:36] #74 closed

[2022-03-15 15:46] ncanaless opened #78 "can't download database"
Hi i've been trying to download the SUPER-FOCUS database and getting this error:

$wget edwards.sdsu.edu/superfocus/downloads/db.zip
...
HTTP request sent, awaiting response... 503 Service Temporarily Unavailable
2022-03-15 12:26:16 ERROR 503: Service Temporarily Unavailable.

is there any solution to this problem? thanks in advance

[2022-03-15 15:52] metageni commented on #78
@linsalrob: Any idea what happened to the server?

[2022-03-17 20:33] metageni commented on #78
@ncanaless: I'm checking with @linsalrob what's up. Depending what happened, i will move the db somewhere else. thanks

[2022-03-18 14:54] ncanaless commented on #78
that would be amazing, thank you so much

[2022-03-18 16:01] metageni commented on #78
I'm moving it to another server. stay tuned.

[2022-03-24 12:49] metageni commented on #78
@ncanaless: I'm sorry; we are still working on it. For now, it lives here --- https://drive.google.com/file/d/1jTo2e5UQLkEItRrgTJhOhXZAAUV-ACd7/view?usp=sharing

I will be moving it to a more appropriate location soon.

[2022-03-24 21:09] ncanaless commented on #78
Hi @metageni , i was able to download the database, thanks for the quick response, but now i'm getting another issue trying to format it. (i downloaded and unziped following the manual instructions)
**superfocus_downloadDB -i clusters/ -a diamond -c 90,95**
Traceback (most recent call last):
  File "/home/metagroup/anaconda3/envs/metaphlan/bin/superfocus_downloadDB", line 10, in <module>
    sys.e

[2022-03-24 21:33] metageni commented on #78
I see. Sorry about it. it was a bug introduced when there was a PR to introduce an alternative directory for the db.

The slowest path to fix this, for now, is to pass a path when formating the database to where it is going to live

`superfocus_downloadDB -i clusters/ -a diamond -c 90,95 -db_dir PATH_DB`

and when running superfocus, passing the db at `--alternate_directory`.

I will fix the bug n

[2022-03-24 21:37] metageni commented on #78
here is the fix for the bug for reference https://github.com/metageni/SUPER-FOCUS/pull/79

[2022-03-25 18:59] ncanaless commented on #78
thanks a lot for your help, i think now i'm able to run the program, again thank you so much

[2022-04-21 20:53] #78 closed

[2022-10-25 01:41] JennsiS opened #81 "Can´t download databases"
Is still giving maintenance for this tool? I would like to use it but I can't download the databases. Are the links still working?
Everytime i try to download any of the databases described in the installation documentation, the request time out.

[2022-10-25 04:22] metageni-twist commented on #81
Hi Jenniffer, please download it here

https://drive.google.com/file/d/1jTo2e5UQLkEItRrgTJhOhXZAAUV-ACd7/view?usp=sharing

[2022-10-26 01:35] JennsiS commented on #81
Thanks for answering! I managed to download the database with the link you provide, however, when I run the indicated command superfocus_downloadDB -i <clusters_folder> -a <aligner> -c <clusters>

It gives me the following error.
![imagen](https://user-images.githubusercontent.com/42972809/197913574-112a3fb5-5c5d-49f0-b6d9-7f49db9fdc7f.png)

Is there any other way to configure this database?

[2022-10-26 01:37] JennsiS commented on #81
Thanks for answering! I managed to download the database with the link you provide, however, when I run the indicated command superfocus_downloadDB -i <clusters_folder> -a -c

It gives me the following error.
![imagen](https://user-images.githubusercontent.com/42972809/197914108-c696307e-2022-4734-b514-7c042a37ba9e.png)

Is there any other way to configure this database? @metageni-twist

[2022-10-27 23:21] bcpd opened #82 "diamond v2.0.xx"
Hello all - I wanted to make super-focus is compatible with diamond v2, as the the following link (https://github.com/bbuchfink/diamond/wiki/5.-Advanced-topics#database-format-versions) seems to suggest it is. Thanks very much.

[2022-10-27 23:44] metageni-twist commented on #82
i have never tried it. Any thoughts? @linsalrob

[2022-10-28 02:22] linsalrob commented on #82
There are diamond version 2 databases already available:
https://cloudstor.aarnet.edu.au/plus/s/ABAbFgoUow9Swpi

Rob

On Fri, 28 Oct 2022 at 10:14, Genivaldo Silva ***@***.***>
wrote:

[2022-10-28 02:31] linsalrob commented on #81
I have updated the URLs for the database downloads to a new location. All
files should be available.

Rob

On Tue, 25 Oct 2022 at 12:11, Jennifer Sandoval ***@***.***>
wrote:

[2022-10-28 02:33] linsalrob commented on #81
The prebuilt databases should be available as zip files now and the
instructions for installing them are here:

https://github.com/metageni/SUPER-FOCUS/blob/master/README.md#downloading-prebuilt-databases

Rob

On Wed, 26 Oct 2022 at 12:07, Jennifer Sandoval ***@***.***>
wrote:

[2022-10-29 21:49] JennsiS commented on #81
Thank you, finally i was able to use the tool. I´m very satisfied with the results. I´m very grateful for your quick response.

[2022-10-29 21:49] #81 closed

[2022-11-03 22:15] bcpd commented on #82
Great -- thank you for your reply. I will close the issue for now.

[2022-11-03 22:15] #82 closed